@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto+Condensed:wght@300&family=Rubik+Mono+One&display=swap");

:root {
  --tamG: 64px;
  --tamM: 32px;
  --tamP: 16px;
  --bgColor: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--bgColor);
  width: 100%;
  margin: auto;
  font-family: "open sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  position: relative;
}

.bg-img {
  opacity: 20%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  font-size: var(--tamM);
  font-weight: 700;
  align-items: center;
  margin-top: 2%;
  width: 95%;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
}

header div ul {
  display: flex;
  gap: 6rem;
}

.nav-icon {
  width: 4.5rem;
  margin: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 2px 18px;
}

a:hover {
  transition: all 0.5s;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name h1 {
  font-size: var(--tamG);
  font-weight: 100;
  font-family: "rubik mono one";
}

.name span {
  font-size: var(--tamP);
  font-weight: 100;
  margin-left: 0.5em;
}

.page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.left-1 {
  width: 35%;
  margin: 6% 0 0 8%;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.right-1 {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.right-1 img {
  width: 55%;
  margin: 5rem 0 0 10rem;
  z-index: -10;
}

.carrossel {
  display: flex;
  width: 400px;
  overflow: hidden;
}

.container {
  display: flex;

  transition: transform 2s linear;
  transform: translateX(0);
  animation: scroll 10s linear infinite;
}

.container img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100px;

}

.page-2 h2 {
  font-size: var(--tamG);
  font-weight: 100;
  font-family: "rubik mono one";
  margin-bottom: 4rem;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #101010;
  overflow: hidden;
  border-radius: 8px;
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: black;
  position: relative;
}

.card:hover {
  opacity: 10%;
  transition: all 0.4s;
}

.hidden-btn {
  background-color: red;
  width: 170px;
  height: 50px;
  border-radius: 12px;
  background-color: #303030;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  position: absolute;
  top: 45%;
  bottom: 45%;
  visibility: hidden;
}

.visible-btn {
  visibility: visible;
}

.card h3 {
  font-size: x-large;
  font-weight: bold;
  margin-top: 4px;
}

.card span {
  padding: 10px;
  font-weight: 600;
  font-size: var(--tamP);
}

.card button a {
  color: white;
  font-weight: bold;
  font-size: var(--tamP);
}
.card button a img {
  width: 16px;
}

.card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
 
}

.box-container {
  display: flex;
  gap: 30px;
}

.card-icons {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
}

.card-icons img {
  display: flex;
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
